body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    width: 70%; /* Added width to make the text area larger */
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
    justify-content: center; /* Centered the content on the page */
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
    padding: 2%; /* Added a padding to make the time easier to read */
    font-weight: bold; /* Bolded the times */
  }
  
  .past {
    background-color: #d3d3d3;
    color: black; /* Changed text color to black to make it easier to read */
  }
  
  .present {
    background-color: #ff6961;
    color: black; /* Changed text color to black to make it easier to read */
  }
  
  .future {
    background-color: #77dd77;
    color: black; /* Changed text color to black to make it easier to read */
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    text-align: center; /* Centered the text */
    width: 10%; /* Made the button bigger */
    font-size: 30px; /* Made the save icon bigger */
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }